@typeparam TItem
@attribute [CascadingTypeParameter(nameof(TItem))]

<h3>Mia Lista</h3>

<CascadingValue Value="Items" IsFixed="true">
    @ChildContent
</CascadingValue>


@code {
    [Parameter] public IEnumerable<TItem>? Items { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
