<h3>Mio Componente @Nome</h3>

@code {
    [EditorRequired]
    [Parameter]
    public string Nome { get; set; } = String.Empty;

    [Parameter]
    public string Cognome { get; set; } = String.Empty;
}
