@typeparam TItem

@if(Items != null)
{
    @foreach (var item in Items)
    {
        <div>@ChildContent(item)</div>
    }
}


@code {
    [CascadingParameter] public IEnumerable<TItem>? Items { get; set; }
    [Parameter] public RenderFragment<TItem>? ChildContent { get; set; }
}
